@font-face {
    font-family: smiley-sans;
    src: url('fonts/SmileySans-Oblique.otf.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: smiley-sans;
    src: url('fonts/SmileySans-Oblique.ttf.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}